---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-orderer-1
spec:
  capacity:
    storage: 20Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-main-campus
    name: orderer-1-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/orderer-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-orderer-2
spec:
  capacity:
    storage: 20Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-main-campus
    name: orderer-2-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/orderer-2
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-orderer-3
spec:
  capacity:
    storage: 20Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-annex-campus
    name: orderer-3-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/orderer-3
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-fabric-ca-registrar
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-main-campus
    name: fabric-ca-registrar-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/fabric-ca-registrar
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-fabric-ca-faculty
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-annex-campus
    name: fabric-ca-faculty-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/fabric-ca-faculty
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-fabric-ca-department
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-pubad-campus
    name: fabric-ca-department-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/fabric-ca-department
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-peer-registrar-1
spec:
  capacity:
    storage: 50Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-main-campus
    name: peer-registrar-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/peer-registrar-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-registrar-1
spec:
  capacity:
    storage: 30Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-main-campus
    name: couchdb-storage-couchdb-registrar-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-registrar-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-peer-faculty-1
spec:
  capacity:
    storage: 50Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-annex-campus
    name: peer-faculty-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/peer-faculty-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-wallet-registrar
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: hostpath
  claimRef:
    namespace: plv-main-campus
    name: couchdb-wallet-storage-couchdb-wallet-registrar-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-wallet-registrar
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-faculty-1
spec:
  capacity:
    storage: 30Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-annex-campus
    name: couchdb-storage-couchdb-faculty-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-faculty-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-wallet-faculty
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: hostpath
  claimRef:
    namespace: plv-annex-campus
    name: couchdb-wallet-storage-couchdb-wallet-faculty-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-wallet-faculty
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-peer-department-1
spec:
  capacity:
    storage: 50Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-pubad-campus
    name: peer-department-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/peer-department-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-department-1
spec:
  capacity:
    storage: 30Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-pubad-campus
    name: couchdb-storage-couchdb-department-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-department-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-wallet-department
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: hostpath
  claimRef:
    namespace: plv-pubad-campus
    name: couchdb-wallet-storage-couchdb-wallet-department-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-wallet-department
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-postgres-main
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-main-campus
    name: postgres-storage-postgres-primary-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/postgres-main
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-ipfs-1
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-fabric
    name: ipfs-data-ipfs-node-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/ipfs-1
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-ipfs-2
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-annex-campus
    name: ipfs-data-ipfs-annex-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/ipfs-2
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-ipfs-3
spec:
  capacity:
    storage: 100Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-pubad-campus
    name: ipfs-data-ipfs-pubad-0
  hostPath:
    path: ${PWD}/fabric-k8s-data/ipfs-3
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-couchdb-backup
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes: [ "ReadWriteOnce" ]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: fabric-storage
  claimRef:
    namespace: plv-fabric
    name: couchdb-backup-pvc
  hostPath:
    path: ${PWD}/fabric-k8s-data/couchdb-backup
    type: DirectoryOrCreate
