node_modules
**/node_modules
bin
obj
.git
gha-creds-*.json
gha-kubeconfig-*
security-results
network/fabric-k8s-data
network/channel-artifacts-final
network/ipfs_data
frontend
chaincode
.venv
venv
env
__pycache__
*.pyc
*.pyo
.git
.gitignore